<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js" integrity="sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <title>Dev's Chatting</title>
</head>
<body>
  <div class="container p-3 d-flex">
    <div class="col-lg-4 col-6 mt-3">
      <img class="img-fluid" src="./asset/images/chat.png" alt="home">
    </div>
    <div class="col-lg-8 col-6 mt-lg-5 mt-1">
      <div class="p-5 mt-5">
        <div class="h1 text-center d-none d-lg-block">개발자들과 실시간으로 소통해보세요.</div>
        <div class="h4 text-center d-lg-none">개발자들과 실시간으로 소통해보세요.</div>
      </div>  
      <div class="p-5 d-flex justify-content-center">
        <a class="button btn btn-secondary btn-lg fs-1 mt-5" href="/chatRooms">참여하기</a>
      </div>
    </div>
    
  </div>
</body>
</html>

<style>
  div {
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }
</style>